:root {
	/* color variables */
	--secundary-color: #D9D9D9;
	--primary-color: #ffff;
	--text-color: #111111;

	/* size variables */
	--large-font-size: 2rem;
	--regular-font-size: 1rem;
	--small-font-size: 0.5rem
}