.header {
	width: 100%;
	background: var(--secundary-color);
	padding: 1rem;
	position: sticky;
	top: 0;
}

.header__navigation {
	display: flex;
	flex-direction: row;
	gap: 10rem;
	align-items: center;
}

.navigation__logo {
	width: 10rem;
}

.navigation__logo img {
	width: 100%;
	height: auto;
} 

.navigation__list {
display: flex;
flex-direction: row;
list-style: none;
gap: 10rem;
font-size: var(--large-font-size);
}
.navigation__list a{
	transition: all 0.3s;
}

.navigation__list a:hover{
	color: #ffff;
}

a:visited {
	color: inherit;
}


/* .header__navigation--visible {
} */