.header {
	width: 100%;
	background: var(--secundary-color);
	padding: 1.5rem;
	position: sticky;
	top: 0;
}

.header__navigation {
	display: flex;
	flex-direction: row;
 	align-items: center;
	justify-content: space-between;
}

.navigation__logo {
	width: 10rem;
}

.navigation__logo img {
	width: 100%;
	height: auto;
} 

.navigation__list {
display: flex;
flex-direction: row;
list-style: none;
gap: 10rem;
font-size: var(--large-font-size);
}
.navigation__list a{
	transition: all 0.3s;
}

.navigation__list a:hover{
	color: #ffff;
}

a:visited {
	color: inherit;
}


/* .header__navigation--visible {
} */


.header__search-button {
  }

.header__search-button-image {
	width: 3.5rem;
}



.header__search-field {
	width: 100%;
	text-align: center;
	font-size: var(--large-font-size);
 	background-color: var(--primary-color);
	border: solid 1px black;
}

.header__search-field--open {
	display: block;
}