.recipe {
	display: flex;
	flex-direction: column;
	max-width: 120rem;
	margin: 0 auto 30rem auto;
}

.recipe__container {
	display: flex;
}

.recipe__content-left {
	width: 50%;
	padding: 2rem;
}

.recipe__content-right {
	width: 50%;
	padding: 2rem;
}

.recipe__name {
	font-size: 3rem;
	text-align:center;
	margin-top: 2rem;
}

.recipe__ingredients {
	font-size: 2.5rem;
	margin-bottom: 2rem;
}

.recipe__ingredients-text {
	font-size: var(--large-font-size);
	margin-bottom: 1rem;
	list-style: none;
}

.recipe__instruction {
	font-size: 2.5rem;
	margin-bottom: 2rem;
}

.recipe__instruction-text {
	font-size: var(--large-font-size);
	margin-bottom: 1rem;
}

@media screen and (max-width: 450px) {
	.recipe {
		display: flex;
		flex-flow: column;
	}

	.recipe__container {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 2rem ;
	 }
 
}